<title>{{title}}</title>

<md-toolbar color="primary">
	<md-icon id="icon">train</md-icon>
	<span> {{ title }} </span>
</md-toolbar>

<div class="app-content">
	<md-card>
		<p md-line>Which Zone is

			<md-input placeholder="Station" [(ngModel)]=query (keyup)=filter()>
				<span md-prefix>
          <i class="material-icons app-input-icon">train</i>
          &nbsp;
        </span>
			</md-input>
			in?</p>


		<div class="suggestions" *ngIf="filteredList.length > 0">
			<button md-raised-button *ngFor="let item of filteredList" (click)="select(item)">{{item.name}}
		</button>
		</div>
	</md-card>

	<md-card *ngIf="selectedStation">
		<h2 class="zone-text" md-line>{{ selectedStation.name }} is in <strong>Zone {{ selectedStation.zone }}</strong></h2>
	</md-card>

</div>